# Ignore build output
build
out

# Ignore Next.js cache
.next/cache
.next/server
.next/static
.next/webpack

# Ignore development environment variables
.env.local
.env.development.local

# Ignore production environment variables
.env.production.local

# Ignore npm packages
node_modules

# Ignore IDE files
.vscode
.idea

